/Movil/PomodoroV1/Pomodoro/bin
/Movil/PomodoroV1/Pomodoro/obj
/SistemaInventario/NetCoreC#/SistemaInventario/SistemaInventario/obj
/SistemaInventario/NetCoreC#/SistemaInventario/SistemaInventario/bin
