
.target{
    background: lightgray;
    width: 250px;
    height: 280px;
    border-radius: 15px;
}

.fila{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.taclado{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pantalla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
